@import "tailwindcss";

@layer buttons {

  .btn {
    @apply bg-neutral-100 text-black py-2 px-4 rounded;

    transition: 0.3s;
  }

  .btn:hover {
      @apply bg-yellow-400 text-white shadow-yellow-400;
    }
}

@layer componentPrimary {

  .componentPrimary {
    @apply bg-yellow-400 w-5xl h-25 rounded-4xl;
  }
}

html {
  scroll-behavior: smooth;
}